@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Aplicar la fuente a toda la página */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Madimi One", sans-serif;
}
