@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Variables de color */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #64748B;
    --foreground: #ededed;
  }
}

/* Aplicar la fuente a toda la página */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Raleway", sans-serif;
}


